<footer class="text-bg-light fw-light p-3" style="position: fixed; bottom: 0; width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-md-start">
                <p class="mb-0">Av. Educación Tecnológica No.34</p>
            </div>
            <div class="col-md-4 text-center">
                <p class="mb-0">2025 Mi empresa</p>
            </div>
            <div class="col-md-4 text-center text-md-end">
                <p class="mb-0">redes sociales</p>
            </div>
        </div>
    </div>
</footer>

<style>
    /* Asegura que el contenido principal no quede oculto tras el footer */
    body {
        padding-bottom: 100px; /* Ajusta según la altura de tu footer */
    }
</style>
