/* src/styles.scss */
@use '@angular/material' as mat;

html, body { 
  height: 100%;
  background-color: #f1f7fc; /* Color de fondo personalizado */
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: transparent; /* Permite que se vea el color del html */
}

.full-width {
  width: 100%;
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: rgb(145, 7, 251)
  ));
}